<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Form Validation</title>
  </head>
  <body>
    <div class="chat">
      <div class="yours messages">
        <div class="message last">
          Hello, how's it going? Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Consequuntur, magni?
        </div>
      </div>
      <div class="mine messages">
        <div class="message">Great thanks!</div>
        <div class="message last">How about you?</div>
      </div>
    </div>
  </body>
</html>
