meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1')
title Document
link(rel='stylesheet' href='algoNetQuestion.css')
header
  .first-head
    .logo-filter
      a(href='#')
        | Algo
        span Net
      .filter
        label(for='filter') filter by
        select#filter(name='filter')
          option(value='algoz system') Algoz system
          option(value='Programming language') Programming Language
    .profile
      a(href='#')
        img(src='ppic.jpg' alt)
  .last-head
    a(href='#') Ask a Question
section.qa-section
  .question-cont
    p.total 12 Questions
    .the-question
      a.question-title(href) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolores quidem nisi voluptatum, iste rem.
      .about-que
        p.time
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z')
          | 2 min ago

        a.asker(href='#') By Samson Meseret
        a.answer(href='#') 3 Answers
    .the-question
      a.question-title(href) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolores quidem nisi voluptatum, iste rem.
      .about-que
        p.time
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z')
          | 2 min ago

        a.asker(href='#') By Samson Meseret
        a.answer(href='#') 3 Answers
    .the-question
      a.question-title(href) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae dolores Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis ducimus amet veritatis esse, ea dolores, error odit, repudiandae adipisci necessitatibus possimus quidem accusantium provident? Sed velit eius amet repellendus? quidem nisi voluptatum, iste rem.
      .about-que
        p.time
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z')
          | 2 min ago

        a.asker(href='#') By Samson Meseret
        a.answer(href='#') 3 Answers
  .popular
    p Top Participants
    .top-users
      a(href='#')
        .pro-cont
          img(src='ppic.jpg' alt)
          h2.name Samson Meseret
          p.role Student
footer