@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");
$back1: #f1f3f5;
$back2: #e9ecef;
$text-color: #495057;
$btn-back1: #6741d9;
$btn-back2: #5f3dc4;
$bluish: #1c7ed6;
$green: #2f9e44;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
}

.first-head {
  border-bottom: 1px solid #d9d7f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    a:link,
    a:visited {
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 2.5rem;
      color: black;
      span {
        color: #6741d9;
        font-weight: 700;
      }
    }
    .filter {
      display: flex;
      flex-direction: column;
      label {
      }
      select {
        background-color: white;
        border: none;
        font-size: 1.4rem;
      }
    }
  }
  .profile {
    border-left: 1px solid #d9d7f1;
    padding: 0 0.8rem;
    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      border: 2px solid grey;
    }
  }
}
.last-head {
  display: flex;
  align-items: center;
  justify-content: center;
  a:link,
  a:visited {
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #5f3dc4;
    color: white;
  }
  a:hover,
  a:active {
    background-color: #7c51fc;
    // border-radius: 5rem;
  }
}
.qa-section {
  display: grid;
  grid-template-columns: 1fr 23rem;
  .question-cont {
    max-width: 80%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .question-item {
      .title {
        font-size: 2.2rem;
        margin: 2rem;
        font-weight: 500;
        // text-align: center;
        color: #3a3e42;
      }
      .about {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
        }
        h3 {
          font-weight: 400;
          font-size: 1.4rem;
        }
      }
      .question-text {
        margin-left: 3.5rem;

        p {
          line-height: 2.5rem;
          color: #3a3e42;
          font-size: 1.8rem;
        }
        img {
          max-width: 100%;
          padding-top: 1rem;
        }
        .time {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          svg {
            width: 2rem;
            height: 2rem;
            color: #495057;
          }
          span {
            font-size: 1.2rem;
            color: #495057;
          }
        }
      }
    }
  }
  .answer-item {
    display: flex;
    justify-content: flex-end;
    .ans-cont {
      max-width: 80%;
      padding: 2rem;
      box-shadow: 0 0 2px #495057;
      background-color: #f1f3f5;
      border-radius: 1rem;
    }
    .person {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid grey;
      }
    }
    .answer-text {
      font-size: 1.8rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
      margin-left: 3.2rem;
    }
    .ans-image {
      img {
        margin-left: 3.2rem;
        max-width: 100%;
        padding-right: 1rem;
        padding-top: 0.5rem;
      }
    }
    .about {
      margin-top: 1rem;
      margin-left: 3.2rem;
      .time {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        svg {
          width: 2rem;
          height: 2rem;
          stroke: #495057;
        }
        span {
          font-size: 1.2rem;
          color: #495057;
        }
      }
    }
  }
  .replay {
    margin-bottom: 4rem;
    .replay-cont {
      .person {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: 2px solid grey;
        }
        h3 {
          color: #3a3e42;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        textarea {
          padding: 1rem;
          font-size: 1.6rem;
          border-radius: 1rem;
          border: none;
          outline: 1px solid #495057;
          color: #3a3e42;
          max-width: 80%;
        }
        textarea:hover,
        textarea:focus {
          border: none;
          outline: 1px solid black;
        }
        input[type="file"] {
          display: none;
        }
        label {
          font-size: 1.4rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          max-width: 15rem;
          cursor: pointer;
          transition: all 0.4s;
          text-align: center;
        }
        label:hover,
        label:active {
          color: #5f3dc4;
          outline: 2px solid #5f3dc4;
          border-radius: 1rem;
        }
        input[type="submit"] {
          max-width: 10rem;
          cursor: pointer;
          background-color: #2f9e44;
          border: none;
          padding: 0.8rem 1rem;
          font-weight: 500;
          font-size: 1.4rem;
          color: white;
          transition: all 0.4s;
        }
        input[type="submit"]:hover,
        input[type="submit"]:active {
          background-color: #3a3e42;
        }
      }
    }
  }
}
.popular {
  height: 100vh;
  background-color: $back1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  border: 1px solid #5f3dc4;
  p {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #3a3e42;
  }
  .top-users {
    a:link,
    a:visited {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      .pro-cont {
        display: grid;
        grid-template-columns: 5rem 1fr;
        align-items: center;
        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          border: 2px solid grey;
        }
        .name {
          font-size: 1.6rem;
          font-weight: 500;
          color: #3a3e42;
        }
        .role {
          grid-column: 2/-1;
          font-size: 1.2rem;
          color: #5f3dc4;
          margin: 0;
        }
      }
    }
  }
}
