@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
$color-primary: #1c7ed6;
$color-primary-tint: #4998de;
$color-primary-tint2: #60a5e2;

$body-color: #e8f2fb;
$slid-bar-back: #f3f5f6;
// $slid-bar-back: pink;
$hover-slide-bar-color: #ebebeb;
$text-color: #292a2c;
$color-side-bar: #525557;
$hover-text-color: #151516;
$font-family: "Inter", sans-serif;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  margin-top: 20rem;
  .login {
    max-width: 40rem;
    height: 37rem;
    margin: 0 auto;
    background-color: $slid-bar-back;
    box-shadow: 0.1rem 0.1rem 1rem grey;
    border-radius: 1rem;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 2rem 1rem;
      .key {
        width: 3rem;
        height: 3rem;
      }
      h1 {
        color: #1c7ed6;
      }
    }
    .login-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      label {
        font-size: 1.4rem;
        font-weight: 500;
      }
      input {
        width: 27rem;
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        border: none;
        box-shadow: inset 0 0 1px grey;
        color: #757575;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        // border: 2px solid grey;
      }
      input:focus {
        color: #757575;
        font-size: 1.4rem;
        font-weight: 500;
        outline: none;
        box-shadow: inset 0 -1px 1px $color-primary;
      }
      button {
        cursor: pointer;
        border: none;
        padding: 0.7rem 1.7rem;
        font-weight: 600;
        margin-top: 1rem;
        font-family: inherit;
        color: #fff;
        background-color: #495057;
        // background-color: #1c7ed6;
        border-radius: 0.3rem;
        transition: all 0.3s;
        &:hover {
          background-color: #1971c1;
        }
      }
    }
    .forgot {
      cursor: pointer;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      a:link,
      a:visited {
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s;
      }
      a:hover,
      a:active {
        color: grey;
      }
    }
    .create {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.3rem;
        color: #525557;
        font-weight: 500;
      }
      a:link,
      a:visited {
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        // background-color: #1c7ed6;
        background-color: #339af0;
        border-radius: 0.5rem;
        color: white;
        transition: all 0.3s;
      }
      a:hover,
      a:active {
        background-color: #297bc0;
      }
    }
    .copyright {
      // margin-bottom: 2rem;
      font-size: 1.1rem;
      margin-top: 2rem;
      text-align: center;
    }
  }
}
