@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");
$back1: #f1f3f5;
$back2: #e9ecef;
$text-color: #495057;
$btn-back1: #6741d9;
$btn-back2: #5f3dc4;
$bluish: #1c7ed6;
$green: #2f9e44;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
}

.first-head {
  border-bottom: 1px solid #d9d7f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    a:link,
    a:visited {
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 2.5rem;
      color: black;
      span {
        color: #6741d9;
        font-weight: 700;
      }
    }
    .filter {
      display: flex;
      flex-direction: column;
      label {
      }
      select {
        background-color: white;
        border: none;
        font-size: 1.4rem;
      }
    }
  }
  .profile {
    border-left: 1px solid #d9d7f1;
    padding: 0 0.8rem;
    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      border: 2px solid grey;
    }
  }
}
.last-head {
  display: flex;
  align-items: center;
  justify-content: center;
  a:link,
  a:visited {
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #5f3dc4;
    color: white;
  }
  a:hover,
  a:active {
    background-color: #7c51fc;
    // border-radius: 5rem;
  }
}
.qa-section {
  display: grid;
  grid-template-columns: 1fr 23rem;
  .question-cont {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    width: 80%;
    p {
      font-size: 2rem;
    }
    .post-form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.4rem;
        font-weight: 300;
        padding: 1rem;
      }
      input {
        background-color: white;
        border: none;
        outline: 1px solid rgb(187, 187, 187);
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        color: #3a3e42;
      }
      input:focus,
      input:hover {
        outline: 1px solid black;
      }
      select {
        padding: 0.5rem 1rem;
        border: none;
        background-color: white;
        color: #3a3e42;
      }
      select:hover,
      select:focus {
        outline: 1px solid black;
      }
      textarea {
        border: none;
        outline: 1px solid grey;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        color: #3a3e42;
      }
      textarea:focus,
      textarea:hover {
        outline: 1px solid black;
      }
      input[type="file"] {
        display: none;
      }
      .photo {
        cursor: pointer;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 400;
        border-bottom: 2px solid #fff;
      }
      .photo:hover,
      .photo:active {
        color: #1c7ed6;
        border-bottom: 2px solid #1c7ed6;
      }
      input[type="submit"] {
        cursor: pointer;
        background-color: #1c7ed6;
        color: white;
        font-size: 1.6rem;
        max-width: 10rem;
        border: none;
        outline: none;
      }
      input[type="submit"]:hover,
      input[type="submit"]:active {
        background-color: #5f3dc4;
      }
    }
  }
}
.popular {
  height: 100vh;
  background-color: $back1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  border: 1px solid #5f3dc4;
  p {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #3a3e42;
  }
  .top-users {
    a:link,
    a:visited {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      .pro-cont {
        display: grid;
        grid-template-columns: 5rem 1fr;
        align-items: center;
        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          border: 2px solid grey;
        }
        .name {
          font-size: 1.6rem;
          font-weight: 500;
          color: #3a3e42;
        }
        .role {
          grid-column: 2/-1;
          font-size: 1.2rem;
          color: #5f3dc4;
          margin: 0;
        }
      }
    }
  }
}
